* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, rgba(21,101,166,1) 0%, rgba(255,255,255,1) 100%);
}

#root {
  background: white;
  margin: auto;
  width: 550px;
  margin-bottom: 50px;
  padding-bottom: 27px;
  border-radius: 5px;
}

.nav--bar {
  height: 55px;
  display: flex;
  justify-content:  center;
  align-items: center; 
  color: #FFFFFF;
  background: #F55A5A;
  margin-bottom: 27px;
}

.nav--text { 
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em; 
}

.nav--logo {
  margin-right: 7px;
}

.card {
  display: flex;
  flex-direction: row;
  width: 478px;
  padding: 18px 40px;
  align-items: center;
  position: relative;
}

.card--image {
  width: 125px;
  height: 168px;
  margin-right: 16px;
  border-radius: 5px;
}

.fa-location-dot {
  color: #F55A5A;
  margin-right: 4px;
}

.card--info {
  line-height: 12px;
}

.card--info--about {
  line-height: 15px;
}

.card--info > p {
  font-size: 10.24px;
  color: #2B283A;
  width: 326px;
}

.card--info--locationName {
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-right: 12px;
}

.card--info--title {
  height: 40px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.gray {
  color: #918E9B;
}

.semi-bold {
  font-weight: 700;
}

hr {
  width: 478px;
  border: 1px solid #F5F5F5;
}